# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore ChromeDriver (Selenium)
chromedriver

# Ignore IDE and system files
.vscode/
.DS_Store
